body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: black;
  margin: 0;
  padding: 20px 50px;
}

h1,
h2,
p {
  text-align: center;
}

.card {
  border: 1px solid black;
  padding: 20px;
  box-shadow: 5px 5px 5px #aaa;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card a,
body > p > a,
button a {
  color: black;
}

button {
  margin: auto;
}

form {
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
}

form > div {
  margin: 10px;
}
